<form action="{{ action }}" method="post" class="form-horizontal">
  <div class="form-group required">
	  <label class="col-sm-2 control-label" for="pay_cpf">{{ entry_pay_cpf }}</label>
	  <div class="col-sm-3">
		<input type="text" name="pay_cpf" value="" maxlength="9" minlength="7" placeholder="{{ entry_pay_cpf }}" id="pay_cpf" class="form-control"/>
	    <span class='state1'></span>
	  </div>
  </div>
  
  <div class="form-group required">
		<label class="col-sm-2 control-label" for="pay_bankCode">{{ entry_pay_bankCode }}</label>
		<div class="col-sm-3">
			<select name="pay_bankCode" id="pay_bankCode" class="form-control" autocomplete="off">			
				  <option value=""> --- Please Select --- </option>
				  <option value="pagofacil">Pago Fàcil</option>
			      <option value="rapipago">Rapipago</option>
			      <option value="cupon">Cupon de Pagos</option>			      
			</select>
			<span class='state1'></span>
		</div>		  
  </div>
  <div class="buttons">
	<div class="pull-right">
	  <input type="button" value="{{ button_confirm }}" class="btn btn-primary submit" />
	</div>
  </div>
</form>
<script type="text/javascript">
$(function(){
	var ok1=false;
    var ok2=false;

    $('#pay_cpf').focus(function(){
        $(this).next().text('').removeClass('state1').addClass('state2');
    }).blur(function(){
	    if($(this).val().length >= 7 && $(this).val().length <= 9){    
	        ok1=true;                
	    }else{
	        $(this).next().html('<span style="color:red">IDN must be between 7 and 11 characters!</span>').removeClass('state1').addClass('state3');
	    }         
    });
    
    $('#pay_bankCode').focus(function(){
         $(this).next().text('').removeClass('state1').addClass('state2');
    }).blur(function(){                    
	     if($(this).val() != ''){                        
	        ok2=true;
	     }else{
	        $(this).next().html('<span style="color:red">Required!</span>').removeClass('state1').addClass('state3');
	     }	                     
	 });
     $('.submit').click(function(){
         if(ok1 && ok2){
             $('form').submit();
         }else{
              return false;
         }
      });   
})
</script>

